.md-container {
  img:not(.html-image) {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 
                0px 4px 8px 0px rgba(0, 0, 0, 0.14), 
                0px 1px 16px 0px rgba(0, 0, 0, 0.12)                          
  }

  @media (min-width:1200px)  
  {
    padding: 0 300px;
  }
  
  img {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 
    0px 4px 8px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 16px 0px rgba(0, 0, 0, 0.12) 
  }
  
  h2, h3 {
    font-weight: 200;
  }

  p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
  }

  i {
    color: hotpink;
  }

  a.no-decoration {
    text-decoration: none;
  }

  i.angular {
    color: #DD0130;
  }

  i.react {
    color: #62DAFB;
  }

  i.docker {
    color: #099CEC;
  }

  i.kube {
    color: #326CE5;
  }
  
  i.js {
    color: #F0DD3F;
  }

  i.bootstrap {
    color: #563C7C;
  }

  i.node {
    color: #016E00;
  }

  i.ror {
    color: #D63334;
  }
}