
@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import "~font-awesome/css/font-awesome.css";

body {
  font-family: roboto, sans-serif;
  background: url('/images/bg.jpg');
  background-size: cover;
}

.text-center {
  text-align: center;
}

.white-color {
  color: white;
}

.inline-block {
  display: inline-block;
}