
@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
  font-family: roboto, sans-serif;
  background: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.text-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}
